<mat-card>
    <mat-card-header>
        <mat-card-title>About the app</mat-card-title>
        <mat-card-subtitle>...and the creator</mat-card-subtitle>
        <img mat-card-avatar src="../../../assets/portfolio_shot.jpg" alt="Creator avatar">
    </mat-card-header>
    <mat-card-content>
        <p>Hey,</p>
        <p>
            my name's Philipp and I'm a business computer science student from Germany. This url-shortener app was
            created as a fun excercise to help me learn Angular. The app is built on Angular for the front-end, Node
            with Express for the back-end/api and an sqlite3 database. If you want to take a look at the source code for
            this website you can check out the link below.
        </p>
        <p>
            If you need to contact me for some reason, there's also a link to my website with contact form below.
            Alternatively you can shoot me an <a
                href="mailto:philipp_j.alber@yahoo.com?Subject=Hello%20there">email.</a>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button href="https://github.com/asciiAvenger">GITHUB</a>
        <a mat-button href="https://philipp-alber.tech">WEBSITE</a>
    </mat-card-actions>
</mat-card>