.wrapper {
    margin-top: 5rem;
    text-align: center;
}

mat-icon {
    font-size: 2rem;
}

p, h1, h3 {
    color: white;
}

h1 {
    font-size: 3rem;
    letter-spacing: .5rem;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: .15rem;
}

mat-card {
    width: 300px;
    margin: auto;
}
