.wrapper {
    margin-top: 5rem;
    text-align: center;
}

mat-icon {
    font-size: 2rem;
}

p, h1, h3 {
    color: white;
}

h1 {
    font-size: 3rem;
    letter-spacing: .5rem;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: .15rem;
}

.new-url-label {
    font-size: 1.2rem;
    margin: 5rem 0 1rem 0;
}

.url a {
    font-size: 1.5rem;
    color: #ff4081;
}
